<div class="container">
  <div class="row">

    <div *ngFor="let milestone of Milestones; index as i">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" style="height:250px" src={{PictureSources[i]}} alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{MilestoneNames[i]}}</p>
          <p class="card-text text-center">{{Floor(Milestones[i].counter*100/Milestones[i].goal)}}%</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar"
            [ngStyle]="{'width.%': Milestones[i].counter*100/Milestones[i].goal}" aria-valuenow="25" aria-valuemin="100"
            aria-valuemax="100"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
