<table class="table">
    <tbody>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/Pushup.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Pushup King: Do 1000 pushups</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="100" aria-valuemax="100">100%</div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/situp.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Situp King: Do 1000 situps</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/biceps.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Biceps pro</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/chestfly.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Chest fly master</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/deadlift.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Deadlift resurrector</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/squat.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Squat terminator</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/pullup.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Pullup monkey</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px" src="assets/img/roadrunner.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Roadrunner</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </td>
            <td>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="height:250px;" src="assets/img/ironlady.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Ironlady wannabe</p>
                    </div>
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </td>
        </tr>
    </tbody>
</table>


