<h1>Welcome to the Fitness App!</h1>
<h3 style="margin-bottom: 30px; margin-top: 30px;">This is your Personal Trainer</h3>
<p>Please register to use the app!</p>

<p>You must be logged in to see the menu items below:</p>
<ul>
  <li>Profile <span style="color: rgb(86, 138, 250);">- you can complete you profile and manage your user data</span></li>
  <li>Workout <span style="color: rgb(86, 138, 250);">- you can manage your workouts, and add a custom one as well</span></li>
  <li>Statistics <span style="color: rgb(86, 138, 250);">- here you can see your stats of exercises</span></li>
  <li>Ranglist <span style="color: rgb(86, 138, 250);">- here you can watch other user's burnt calories</span></li>
  <li>Milestones <span style="color: rgb(86, 138, 250);">- here you can follow your progress of milestones</span></li>
</ul>

<h3>Have a good training!</h3>

