<div id="accordion">

    <div class="card" *ngFor="let workout of Workouts; let i = index">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#w{{i+1}}}">
          {{workout.workoutName}}
        </a>
        <button type="button" class="btn btn-success" style="float: right;">Completed</button>
      </div>
      <div id="w{{i}}" class="collapse" data-parent="#accordion">
        <div class="card-body" style="color: black;">
          <table class="table">
            <thead>
              <tr>
                <th>Exercise name</th>
                <th>Difficulty</th>
                <th>Reps</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of Workouts">
                    <td>{{e.exercise.Name}}</td>
                    <td>{{e.exercise.Difficulty}}</td>
                    <td>{{e.exercise.Set}} x {{e.exercise.Reps}}</td>
                    <td>cal</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  
    <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#customworkout">
            Custom Workout
          </a>
          <button type="button" class="btn btn-danger" style="float: right;">Delete</button>
          <button type="button" class="btn btn-success" style="float: right;">Completed</button>
        </div>
        <div id="customworkout" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Exercise name</th>
                    <th>Difficulty</th>
                    <th>Reps</th>
                    <th>Calories</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Exercise 1</td>
                    <td>****</td>
                    <td>3x20</td>
                    <td>300</td>
                  </tr>

                </tbody>
              </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#addacustom">
            Add a custom workout
          </a>
          <button type="button" class="btn btn-info" style="float: right;">Save</button>
        </div>
        <div id="addacustom" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Exercise name</th>
                    <th>Difficulty</th>
                    <th>Reps</th>
                    <th>Calories</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                              Choose excercise...
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Link 1</a>
                              <a class="dropdown-item" href="#">Link 2</a>
                              <a class="dropdown-item" href="#">Link 3</a>
                            </div>
                          </div>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>

                </tbody>
              </table>
          </div>
        </div>
      </div>

  </div>