<!-- <div>{{PrintWorkouts()}}</div> -->
<div id="accordion">

  
  <div class="card greybgcolor" *ngFor="let workout of Workouts; index as i">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#w{{i}}">
        {{workout.workoutName}}
        {{workout.id}}  
        <!-- {{printEx(workout)}} -->
      </a>
      <button (click)="deleteWorkout(workout.id)" type="button" class="btn btn-danger" style="float: right;">Delete</button>
      <button (click)="completeWorkout()" type="button" class="btn btn-success" style="float: right;">Completed</button>
    </div>
    <div id="w{{i}}" class="collapse " data-parent="#accordion">
      <div class="card-body" style="color: black;">
        <table class="table greybgcolor">
          <thead>
            <tr>
              <th>Exercise name</th>
              <th>Difficulty</th>
              <th>Reps</th>
              <th>Calories</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exercise of workout.exercise">
              <td>{{exercise.name}}</td>
              <td>{{exercise.difficulty}}</td>
              <td>{{exercise.set}} x {{exercise.reps}}</td>
              <td>cal</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
  <a routerLink="new" type="button" class="btn btn-primary btn-lg btn-block">Add new workout</a>