<div class="container">

  <h2>My Profile</h2>

  <form>

    <div class="form-row">
      <div class="form-group col">
        <label for="emailcim">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group col">
        <label for="InputUsername">Username</label>
        <input class="form-control" aria-describedby="emailHelp">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="form-group col">
        <label for="exampleInputPassword2">Password Again</label>
        <input type="password" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label class="form-group" for="genderselect">Gender</label>
        <select class="custom-select mr-sm-2">
          <option selected>Choose...</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="dob">Date Of Birth</label>
        <input type="date" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="heightrange">Height (*cm)</label>
        <input class="form-control" type="number" min="100" max="250" step="1" />
      </div>
      <div class="form-group col">
        <label for="weightrange">Weight (*kg)</label>
        <input class="form-control" type="number" min="30" max="200" step="1" />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>

</div>
