h2 {
    margin: 30px;
    margin-left: 5px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

input[type="date"] {
    margin-top: 8px;
}

.greybgcolor{
    background-color: rgb(58, 57, 57);
    color: whitesmoke;
}
.lightgreybgcolor{
    background-color: grey;
    color: whitesmoke;
}