<div class="container">

  <h2>My Profile</h2>

  <form>

    <div class="form-row">
      <div class="form-group col">
        <label for="emailcim">Email address</label>
        <input [(ngModel)]="profile.Email" type="email" class="form-control lightgreybgcolor" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group col">
        <label [(ngModel)]="profile.UserName" for="InputUsername">Username</label>
        <input class="form-control lightgreybgcolor" aria-describedby="emailHelp">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="exampleInputPassword1">Password</label>
        <input [(ngModel)]="profile.Password" type="password" class="form-control lightgreybgcolor">
      </div>
      <div class="form-group col">
        <label for="exampleInputPassword2">Password Again</label>
        <input type="password" class="form-control lightgreybgcolor">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label class="form-group" for="genderselect">Gender</label>
        <select [(ngModel)]="profile.Gender" class="custom-select mr-sm-2 lightgreybgcolor">
          <option selected>Choose...</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
      <div class="form-group col">
        <label for="dob">Date Of Birth</label>
        <input [(ngModel)]="profile.DateOfBirth" type="date" class="form-control lightgreybgcolor">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="heightrange">Height (*cm)</label>
        <input [(ngModel)]="profile.Height" class="form-control lightgreybgcolor" type="number" min="100" max="250" step="1" />
      </div>
      <div class="form-group col">
        <label for="weightrange">Weight (*kg)</label>
        <input [(ngModel)]="profile.Weight" class="form-control lightgreybgcolor" type="number" min="30" max="200" step="1" />
      </div>
    </div>

    <button (click)="editProfile()" type="submit" class="btn btn-primary">Save</button>

  </form>

</div>
