<h2 style="margin-top: 20px">Burnt calories: 5000 kcal</h2>

<h4 style="margin-top: 50px;">Felsőtest</h4>

<table class="table">
    <thead>
      <tr>
        <th scope="col" width="40%">Exercise</th>
        <th scope="col" width="20%">Amount</th>
        <th scope="col">Burnt calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bicepsz egykezes súlyzóval</td>
        <td>4</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Bicepsz kétkezes súlyzóval</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Tricepsz egykezes súlyzóval</td>
        <td>50</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Fekvenyomás válszélességű fogással</td>
        <td>50</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Állhoz húzás egykezes súlyzókkal</td>
        <td>50</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Tárogatás</td>
        <td>50</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Áthúzás egykezes súlyzóval</td>
        <td>50</td>
        <td>200</td>
      </tr>
      <tr>
        <td>Evezés</td>
        <td>50</td>
        <td>200</td>
      </tr>
    </tbody>
  </table>
  <h4 style="margin-top: 50px" >Has</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="40%" >Exercise</th>
        <th scope="col" width="20%">Amount</th>
        <th scope="col">Burnt calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Felülés</td>
        <td>4</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Hasprés</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Térdemelés egyenes padon</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Törzshajlítás egykezes súlyzóval</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <h4 style="margin-top: 50px;">Láb</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" width="40%" >Exercise</th>
        <th scope="col" width="20%">Amount</th>
        <th scope="col">Burnt calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lábnyújtás</td>
        <td>4</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Guggolás</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Guggolás rúddal</td>
        <td>0</td>
        <td>0</td>
      </tr>      <tr>
        <td>Álló vádligyakorlat</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
  <h4 style="margin-top: 50px;">Kardió</h4>
  <table class="table" style="margin-bottom: 100px;">
    <thead>
      <tr>
        <th scope="col" width="40%" >Exercise</th>
        <th scope="col" width="20%">Amount</th>
        <th scope="col">Burnt calories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Futás</td>
        <td>4</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Úszás</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Bicikli</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>