table,tr,td {
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
    width:60%;

  } 

  th{
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
    width:20%;
  }

  body {
    color: white;
  }

  


 